<sidebar id="sidebar2" size="215px" position="right" is-expandable="true">
    <div class="spacing">
        <a sidebar-toggle="sidebar2">
            <span class="ion-close"></span>
        </a>    
        <div class="small-nav-buttons-container"> 
            <ul>
                <li><a ui-sref="landing">Home</a></li> 
                <li><a ui-sref="pageTwo">Page</a></li>
                <li><a ui-sref="pageThree">Page</a></li>
                <li><a>Page</a></li>
                <li class="small-icon"><a><span class="ion-social-facebook-outline"></span></a></li>
                <li class="small-icon"><a><span class="ion-social-twitter-outline"></span></a></li>
            </ul> 
        </div>   
    </div>        
</sidebar>